@media screen and (max-width: 43rem){
    /* ? Base styling */
    /* ? Mobile specific styling */

}
@media screen and (min-width: 43rem){
    /* ? Wide mobile / tablet specific styling */

}
@media screen and (min-width: 62rem){
    /* ? Desktop specific styling */
    #contact-content{
        display:flex;
        flex-direction: row;
        align-items: stretch;
        background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('../imgs/bg.jpeg');
        background-position:50% 25%;
        background-size: cover;
    }
        #profile{
            flex:2;
            border:3px solid green;
            display:flex;
            justify-content: end;
            align-items: center;
        }

        #description-container{
            flex:3;
            border:3px solid green;
            display:flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            padding-top:0%;
            padding-right:7.5%;
            padding-left:7.5%;
            row-gap: 3%;
        }
            #description-container > div{

            }
            #description-title{
                font-size: 9vh;
                font-family: 'retrovolt';
                letter-spacing: 0.3rem;
                color:#3aa1e0;
                width: 100%;
                text-align: center;
                
            }
            #description-subtitle{
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
                font-size:2vmin;
                width: 80%;
                
            }
            #description-text{
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
                font-size:2vmin;
                width: 80%;
                
            }
            #description-bullets-container{
                display: flex;
                flex-direction: column;
                justify-content: start;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
                font-size:2vmin;
                
                width: 84%;
            }
                #description-bullets-points{
                    padding:2%;
                    border-radius: 15px;
                    background-color: rgba(255, 255, 0, 0.466);
                }
                #description-bullets-education{
                    padding:2%;
                    border-radius: 15px;
                    margin-top:5%;
                    background-color: rgba(255, 255, 0, 0.466);
                }



}