/* @font-face {
    font-family: 'strippyregular';
    src: url('../resources/fonts/WEBFONTS/strippy-regular-webfont.woff2') format('woff2'),
         url('../resources/fonts/WEBFONTS/strippy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */
@font-face {
    font-family: 'funkgibson';
    src: url('../resources/fonts/FunkGibsonDemoRegular-BW6rd.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'funkgibsonoutline';
    src: url('../resources/fonts/FunkGibsonDemoOutline-RpDlA.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'retrovolt';
    src: url('../resources/fonts/retrovoltdemoversionregular-ywd0m.otf');
    font-weight: normal;
    font-style: normal;
}



/* ? Universal styling*/

*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
html{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    height:100%;
    width:100%;
    max-height: 100%;
}
html:focus{
    outline: none !important;
}
@media screen and (max-width: 43rem){
    /* ? Base styling */
    /* ? Mobile specific styling */

}
@media screen and (min-width: 43rem){
    /* ? Wide mobile / tablet specific styling */

}
@media screen and (min-width: 62rem){
    /* ? Desktop specific styling */
    body{
        display:flex;
        flex-direction: column;
        height:100%;
        max-height: 100%;
        width: 100%;
        justify-content: stretch;
        overflow:hidden;
    }
    .runner{
        background-color: #F50000;
        font-family: 'funkgibson';
        width: 100%;
        height:5%;
        letter-spacing: 0.3vh;
    }
    .header{        
    }
        .header-items{
            display:flex;
            height:100%;
            flex-direction: row;
            align-items: center;
            padding-left:1%;
            font-size:3vh;
            
        }
            .header-item{
                text-decoration: none;
                color:antiquewhite;
            }
    .content{
        height:90%;
        max-height:90%;
        width: 100%;
        box-shadow: inset rgba(0, 0, 0, 0.35) 0px -50px 36px -28px, 
        inset rgba(0, 0, 0, 0.35) 0px 50px 36px -28px; 
    }
    #index-content{
        display:flex;
        flex-direction: row;
        background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('../imgs/bg.jpeg');
        background-position:50% 25%;
        background-size: cover;
        box-shadow: inset rgba(0, 0, 0, 0.25) 0px -50px 36px -28px, 
        inset rgba(0, 0, 0, 0.25) 0px 50px 36px -28px; 
        
    }
        #menu{
            height:100%;
            max-height: 100%;
            width:50%;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding:5vmin;
            opacity: 0.85;
        }
            .menu-button-container{
                height:33%;
                width: 100%;
                position: relative;
                display:flex;
                align-items: center;
                justify-content: center;
                
            }
                .menu-button-container > a{
                    position: absolute;
                    z-index: 999;
                    font-size: 4vh;
                    font-family: 'funkgibson';
                    text-decoration: none;
                    color:#F50000;
                    
                }
                .button-svg{
                    position: absolute;
                    max-height: 80%;
                    
                }
        #cloud{
            height:100%;
            width:50%;
            position: relative;
            top:-5vh;
            margin-left:auto;
            display:flex;
            justify-content: end;
            align-items: start;
            container-type: inline-size;
            
        }

        /*  ? Cloud container is 90 vh, and 50vw,  */
            #cloud-svg{
                /* ? cloud svg max height is 67.5vh
                ? and max width is 40vw */
                position: absolute;
                right:0;
                top:0;
                z-index: 1;
                max-height: 75%;
                max-width: 80%;
                margin-left: auto;
                opacity: 0.85;
                
            }
            #cloud-title{
                position: absolute;
                z-index: 999;
                font-family: 'retrovolt';
                color:#F50000;

                right:1vw;
                font-size: 4vw;
            }
            #cloud-text{
                text-align: center;
                font-family: 'retrovolt';
                color:#F50000;
                position: absolute;
                z-index: 999;

                top:4vw;
                right:1vw;
                font-size: 8.5vw;
                letter-spacing: normal;
                line-height: 8vw;
            }
            @media screen and (height < 55.5vw){
                #cloud-title{
                    color:#F50000;
                    right:2vh;
                    font-size: 8vh;
                }
                #cloud-text{
                    color:#F50000;
                    top:8vh;
                    right:2vh;
                    font-size: 16vh;
                    letter-spacing: normal;
                    line-height: 14vh;
                }
            }



    .footer{
        display:flex;
        align-items: center;
        justify-content: end;
    }
        .footer-item{
            font-size:3vh;
            text-decoration: none;
            color:antiquewhite;
            padding-right:1%;
        }


}
