@font-face {
    font-family: 'cookie';
    src: url('../resources/fonts/Cookiemonster-gv11.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sunny';
    src: url('../resources/fonts/SunnyRegular-K7jmW.ttf');
    font-weight: normal;
    font-style: normal;
}



/* ? Universal styling*/

*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
html{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    height:100%;
    width:100%;
    margin: 0; 
    padding: 0;
}
html:focus{
    outline: none !important;
}
.palette{
    color:
    #e18d8b
    #fff8ee
    #ffebcb
    #91b262
}
@media screen and (max-width: 62rem){
    /* ? Base styling */
    /* ? Mobile specific styling */
    body{
        height:100%;
        width: 100%;
        background-color:#ffebcb ;

    }

    #index-content{
        width:100%;
        height:fit-content;
        display:flex;
        flex-direction: column;
        justify-content: stretch;
        padding:6%;
    }
        #boxes-container{
            width:100%;
            height:100%;
            display:flex;
            flex-direction: column;
            row-gap: 3.5vmax;
            font-size: 0.5rem;
            
        }
            #about-me{
                width:100%;
                display:flex;
                flex-direction: column;
                
            }
                #header-row{
                    height:fit-content;

                    border-radius: 2vmax ; 
                    background-color: #e18d8b;
                    font-size: 2vmax;
                    padding:0.5vmax;
                    font-family: 'sunny';
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    color:#fff8ee
                }
                    #header-row > a{
                        text-decoration: none;
                        color:#fff8ee
                    }
                #info{
                    display:flex;
                    flex-direction: column;
                    height:fit-content;
                    background-color: #fff8ee;
                    max-width: 100%;
                }
                    #sunny-pfp{
                        width:100%;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        background-color:#ffebcb ;
                    }
                        #pfp-img{
                            width: 90%;
                            margin-right:10%;

                            object-fit: contain;
                        }
                        

}

@media screen and (min-width: 62rem){



    /* ? Desktop specific styling */
    body{
        display:flex;
        flex-direction: column;
        height:100%;
        max-height: 100%;
        width: 100%;
        justify-content: stretch;
        overflow:hidden;
        background-color:#ffebcb ;
    }
    .content{
        height:100%;   
        width: 100%;
    }
    #index-content{
        display:flex;
        align-items: center;
        justify-content: center;
        
        padding:6%;
        padding-top:calc(6% - 1rm)
    }
        #boxes-container{
            width: 100%;
            height:100%;
            display:flex;
            flex-direction:column;
            row-gap: 3.5vmax;

        }

            #about-me{
                
                width: 100%;
                flex:1.4;
                
                flex-direction: column;
                max-height: 100%;
                position: relative;
            }
                #header-row{
                    height: fit-content;
                    margin-left:43vh;
                    -moz-border-radius: 0px;
                    -webkit-border-radius: 2vmax 2vmax 0px 0px;
                    border-radius: 2vmax 2vmax 0px 0px; 
                    background-color: #e18d8b;
                    font-size: 2vmax;
                    padding:0.5vmax;
                    font-family: 'sunny';
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    color:#fff8ee
                }
                    #header-row > a{
                        text-decoration: none;
                        color:#fff8ee
                    }
                #info{
                    display:flex;
                    flex-direction: row;
                    height:100%;
                    height:calc(100% - 3vmax);
                    background-color: #fff8ee;
                }
                    #sunny-pfp{
                        
                        
                        position: relative;
                        min-width:43vh;
                    }
                        #pfp-img{
                            position: absolute;
                            left:-5%;
                            top:-10%;
                            object-fit: contain;
                            height:140%;
                            max-height: 140%;
                        }
                    #about-me-text{
                        
                        
                        padding-left:5.5%;
                        padding-top:0.5%;
                        padding-right:1.5%;
                    }
                        #about-me-text-title{

                            color:#91b262;
                            text-align: start;
                            font-size: 7vmin;;
                            font-family: 'cookie';
                        }
                        #about-me-text-content{
                            color:#91b262;
                            text-align: start;
                            font-size: 3.5vmin;;
                            font-family: 'sunny';
                        }
                #star-a{
                    width: 30%;
                    position: absolute;
                    right:-15%;
                    bottom:-55%;
                }
                    #star-a-img{
                        max-width: 100%;
                    }
            #education-contant-container{
                
                width: 100%;
                flex:1;
                display:flex;
                flex-direction: row;
                column-gap:3.5vmax;
            }
                #education{
                    
                    flex:3;
                    background-color: #fff8ee;
                    padding-right:1.5%;
                    padding-top:0.5%;
                    padding-left:1.5%;
                }
                    #education-title{

                        color:#91b262;
                        text-align: end;
                        font-size: 7vmin;;
                        font-family: 'cookie';
                    }
                    #education-text{
                        color:#91b262;
                        text-align: end;
                        font-size: 3.5vmin;;
                        font-family: 'sunny';
                    }
                    #star-b{
                        width: 30%;
                        position: absolute;
                        left:-10%;
                        bottom:-10%;
                    }
                        #star-b-img{
                            max-width: 100%;
                        }
                #contact{
                    flex:2;
                    background-color: #fff8ee;
                    
                    padding-left:1.5%;
                    padding-top:0.5%;
                    padding-right:1.5%;
                }
                    #contact-title{

                        color:#91b262;
                        text-align: start;
                        font-size: 7vmin;;
                        font-family: 'cookie';
                    }
                    #contact-text{
                        color:#91b262;
                        text-align: start;
                        font-size: 3.5vmin;;
                        font-family: 'sunny';
                    }






        /*#menu{
            height:100%;
            max-height: 100%;
            width:50%;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding:5vmin;
            opacity: 0.85;
        }
            .menu-button-container{
                height:33%;
                width: 100%;
                position: relative;
                display:flex;
                align-items: center;
                justify-content: center;
                
            }
                .menu-button-container > a{
                    position: absolute;
                    z-index: 999;
                    font-size: 4vh;
                    font-family: 'funkgibson';
                    text-decoration: none;
                    color:#F50000;
                    
                }
                .button-svg{
                    position: absolute;
                    max-height: 80%;
                    
                }
        #cloud{
            height:100%;
            width:50%;
            position: relative;
            top:-5vh;
            margin-left:auto;
            display:flex;
            justify-content: end;
            align-items: start;
            container-type: inline-size;
            
        } */
        /*  ? Cloud container is 90 vh, and 50vw,  */
            /* #cloud-svg{ */
                /* ? cloud svg max height is 67.5vh
                ? and max width is 40vw */
                /* position: absolute;
                right:0;
                top:0;
                z-index: 1;
                max-height: 75%;
                max-width: 80%;
                margin-left: auto;
                opacity: 0.85;
                
            }
            #cloud-title{
                position: absolute;
                z-index: 999;
                font-family: 'retrovolt';
                color:#F50000;

                right:1vw;
                font-size: 4vw;
            }
            #cloud-text{
                text-align: center;
                font-family: 'retrovolt';
                color:#F50000;
                position: absolute;
                z-index: 999;

                top:4vw;
                right:1vw;
                font-size: 8.5vw;
                letter-spacing: normal;
                line-height: 8vw;
            }
            @media screen and (height < 55.5vw){
                #cloud-title{
                    color:#F50000;
                    right:2vh;
                    font-size: 8vh;
                }
                #cloud-text{
                    color:#F50000;
                    top:8vh;
                    right:2vh;
                    font-size: 16vh;
                    letter-spacing: normal;
                    line-height: 14vh;
                }
            } */






}
